body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header {
    text-align: center;
    height: 80px;
    padding: 10px;
    color: white;
    background: navy;
}

div.container {
    display: flex;
}

div.left-container {
    flex-grow: 1
}

main {
    text-align: center;
    height: 630px;
    flex-grow: 2;
    padding: 5px;
    color: white;
    background-color: darkred;
}

aside {
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 10px;
    color: white;
    background: gold;
}

nav {
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 10px;
    color: white;
    background: green;
}

footer {
    box-sizing: border-box;
    text-align: center;
    height: 80px;
    padding: 5px;
    color: white;
    background: purple;
}

@media screen and (max-width: 600px) {
    div.container {
        flex-direction: column;
    }
}